<h1>My Messages (Inbox)</h1>

<ul class="sectionIcons">
	<li><%= icon('refresh', messages_path, nil, nil, 'Check for New Messages') %></li>
	<li><%= icon('messages_outbox', sent_messages_path, 'Go to Sent Messages folder to view the messages that you have sent', nil, 'View Sent Messages') %></li>
  <li><%= icon('new', new_message_path, nil, nil, 'Write New Message') %></li>
</ul>

<h2>Inbox (<%= @messages.size -%>)</h2>

<%= render :partial => "layouts/paginate", :locals => { :collection => @messages } %>

<%= render :partial => "messages/table", :locals => { :collection => @messages, :message_folder => @message_folder } %>

<%= render :partial => "layouts/paginate", :locals => { :collection => @messages } %>

<br />
