<% @message.to = params[:user_id] if params[:user_id] -%>

<% remaining_allowance, allowance_finishes = ActivityLimit.remaining_allowance(current_user, "internal_message") -%>
<% if remaining_allowance == 1 -%>
	<p class="box_currentuser_specific" style="font-weight: bold; text-align: center;">
		Please note that you can only send one more internal message 
		<%= allowance_finishes ? "until #{allowance_finishes.strftime("%H:%M on %d/%m/%Y")}" : "; your allowance will not be reset" -%>. 
	</p>
<% end -%>


<h1><%= params[:reply_id] ? h("Reply to Message") : h("New Message") %></h1>

<%= error_messages_for :message %>

<center>
	<div class="box_form" style="width: 400px; text-align: left;">
		<% form_for(:message, :url => messages_path) do |f| %>
	    <% if @message.to %>
				<p style="text-align: center;"><b>To</b></p>
	      <center><%= render :partial => "users/avatar", :locals => { :user => @message.to } %></center>
	      <%= f.hidden_field :to %>
	    <% else %>
			<p><b>To</b></p>
			  <% # sending message to the user themself is not allowed -> exclude current user from the 'to' list -%>
	      <%= select(:message, :to, User.find(:all, :conditions => ["id <> ?", current_user.id], :order => "name ASC").collect {|u| [ u.name, u.id ] }, { :include_blank => false }, :style => "width: 390px;") %>
	    <% end %>
		
		  <p><b>Subject</b></p>
		  <%= f.text_field :subject, :style => "width: 390px;" %>
		
		  <p><b>Message</b></p>
		  <%= f.text_area :body, :rows => 12, :style => "width: 390px;" %>
			
			<br/><br>
		
    	<center><%= submit_tag "Send Message", :disable_with => "Sending..." %></center>
		  
		  <%= f.hidden_field :from %>
		  <%= f.hidden_field :reply_id %>
		<% end %>
	</div>
</center>