<% t "Manage" -%>

<%= javascript_include_tag "ckeditor/ckeditor.js" %>


<h1>Manage Content Type: <%= h @content_type.title %></h1>

<%= error_messages_for :content_type %>

<%= form_for(:content_type, :url => content_type_path(@content_type), :html => { :method => :put }) do |f| %>

  <p style="text-align: center;">
  	<strong>Title: </strong>
	<br/>
	<%= f.text_field :title, :size => 60 %>
  </p>
	
	<br/>
  
  <p style="text-align: center;">
  	<strong>Description: </strong>
	</p>
	<center>
    <%= f.text_area(:description, :width => '600px', :height => '300px', :class => 'ckeditor') -%>
	</center>
  
  <br/>

  <p>
    <center>
    	<%= submit_tag "Update",:disable_with => "Updating..." %> 
		or <%= link_to "Cancel", content_type_path(@content_type) %>
	</center>
  </p>
<% end %>
