<% networks = current.networks_admined(true) %>

<script type="text/javascript">

  var invites_in_progress = 0;

  function networkInvitationPending(network_id) {
    $('group_invite_spinner').show();
    $('my_network_font_' + network_id).setStyle({color:'red'});
    $('my_network_' + network_id).disabled = true;
    //Disable button
    $("my_networks_button").disabled = true;
    $("my_networks_button").value = "Inviting (" +
        invites_in_progress + ((invites_in_progress % 10) == 1 ? " request" : " requests") + " in progress)";
  }

  function networkInvitationDone(network_id, success) {
    if(success) {
      $('my_network_font_' + network_id).setStyle({color:'green'});
    }
    else {
      $('my_network_' + network_id + '_status').update("(An error occurred when sending the invitation)");
    }
    $('my_network_' + network_id + '_status').show();

    invites_in_progress--;
    if (invites_in_progress == 0) {
      $("my_networks_button").value = "Invite";
      $("my_networks_button").disabled = false;
      $('group_invite_spinner').hide();
    }
    else {
      $("my_networks_button").value = "Inviting (" +
          invites_in_progress + ((invites_in_progress % 10) == 1 ? " request" : " requests") + " in progress)";
    }
  }

  function inviteAndDisable() {
    <% networks.each do |n| %>
      <% unless n.member?(user) || user.membership_pending?(n.id) %>
        if ($("my_network_<%= n.id -%>").checked && !$("my_network_<%= n.id -%>").disabled) {
          <%= remote_function(:url => membership_invite_network_path(n),
                              :method => :post,
                              :loading => "networkInvitationPending(#{n.id});",
                              :success => "networkInvitationDone(#{n.id}, true);",
                              :failure => "networkInvitationDone(#{n.id}, false);",
                              :form => false,
                              :with => "'user_id=#{user.id}&membership[message]='") -%>;

					invites_in_progress++;
        }
      <% end %>
    <% end %>
  }
</script>

<div class="box_currentuser_specific" style="margin: 1.5em 0;">

<h4>Inviting to Your Groups</h4>

<p>
  Below you can invite <%= h(user.name) %> to join your Groups. Select the Group(s) you want to invite them to and then click the "invite" button.
</p>

<form>
  <% networks.each_with_index do |n, index| %>
    <% if n.member?(user) %>
      <input type="checkbox" id="my_network_<%= n.id -%>" value="<%= n.id -%>" disabled=true CHECKED /> - <span style="color: green"><%= h(n.title) -%></span> (already a member)
    <% elsif user.membership_pending?(n.id) %>
      <input type="checkbox" id="my_network_<%= n.id -%>" value="<%= n.id -%>" disabled=true CHECKED /> - <span style="color: green"><%= h(n.title) -%></span> (waiting for the user to confirm)
		<% else %>
      <input type="checkbox" id="my_network_<%= n.id -%>" value="<%= n.id -%>"/>
      <label for="my_network_<%= n.id %>"> - <span id="my_network_font_<%= n.id %>"><%= h(n.title) %></span></label>
      <span style="display: none;" id="my_network_<%= n.id -%>_status"> (invitation was sent successfully)</span>
    <% end %>
      <% unless (index.to_i == (networks.length - 1)) %>
          <br/>
      <% end %>
  <% end %>
  
  <br/>
  <br/>
    
  <p>
    <input id="my_networks_button" onclick="inviteAndDisable();" type="button" value="Invite" />
    <img style="display: none" id="group_invite_spinner" src="/images/spinner.gif" />
  </p>
</form>

</div>
