<% user = listing %>

<div class="resource_list_item">

  <div class="avatar_panel" style="width: 7em">
    <span class="owner">Member</span>
    <%= contributor(user.id, "User", true, 80) %>
  </div>

  <div class="main_panel" style="margin-left: 7.5em">

    <div class="actions">
      <%= icon "show", user_path(user.id), nil, nil, "View" %>
      <% if mine? user %>
        <%= icon "edit", edit_user_path(user), nil, nil, "Edit" %>
      <% else %>
        <!-- check if the profile that we are viewing now is a friend of current user -> stored for better performance -->
        <% this_user_is_friend_of_current_user = (current_user != 0) && current_user.friend?(user.id) %>
        <% unless !logged_in? || this_user_is_friend_of_current_user || current_user.friendship_pending?(user.id) %>
          <%= icon "friendship", new_user_friendship_url(:user_id => user.id), nil, nil, "Request Friendship" %>
        <% end %>

        <%= icon "message", new_message_path(:user_id => user.id), nil, nil, "Message" %>

        <% if logged_in? && this_user_is_friend_of_current_user %>
          <% master_id, friendship_obj = current_user.friendship_from_self_id_and_friends_id(user.id) %>
          <%= icon "friend_delete", user_friendship_path(current_user, friendship_obj) + "?return_to=" + currentusers_things_url('friends'), nil, {:confirm => "Are you sure you want to remove this user from your friend list?", :method => :delete}, "Cancel Friendship" %>
        <% end %>
      <% end %>

      <% if Authorization.check('destroy', user, current_user) %>
        <%= icon "destroy", user_path(user) + "?return_to=" + CGI::escape(request.fullpath), nil, {
          :confirm => "Are you sure you want to delete this user from #{Conf.sitename}?", :method => :delete},
          "Delete User" %>
      <% end %>
    </div>

    <p class="title">
      <%= icon "user", nil, nil, nil, '' %>
      <%= name user %>
      <%= friend_badge(user) %>
      <%= admin_badge(user) %>
    </p>

    <% cache(:controller => 'users_cache', :action => 'listing', :id => user.id) do -%>

      <p>
        <b>Joined: </b><%=datetime user.created_at -%>
      </p>

      <div class="desc">
        <% unless user.profile.body.blank? -%>
          <% desc = truncate(strip_html(user.profile.body), :length => 400) -%>
          <%= query ? highlight_all(desc, query) : desc -%>
        <% else -%>
          <span class="none_text">No description</span>
        <% end -%>
      </div>

      <% unless user.last_seen_at.blank? %>
        <p>
          <b>Last active:</b><%= datetime user.last_seen_at %>
        </p>
      <% end %>

      <% if user.profile %>
        <% separator ="" %>
        <p>
          <% unless user.profile.website.blank? %>
            <b>Website:</b><%= link_to h(user.profile.website), h(user.profile.website), :rel => "nofollow", :popup => true %>
            <% separator = "|" %>
          <% end %>

          <% unless user.profile.email.blank? %>
            <%= separator %>
            <b>Email (public):</b><%= mail_to user.profile.email, nil, {  :encode => "hex", :replace_at => " [at] " } %>
          <% end %>
        </p>

        <% separator ="" %>
        <p>
          <% unless user.profile.field_or_industry.blank? %>
            <b>Field/Industry:</b><%= h user.profile.field_or_industry %>
            <% separator = "|" %>
          <% end %>

          <% unless user.profile.occupation_or_roles.blank? %>
            <%= separator %>
            <b>Occupation/Role(s):</b><%= h user.profile.occupation_or_roles %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
