<div id="home_container" class="row">
  <div class="col-md-9">
    <%= render :partial => "news" %>
    <%= render :partial => "updated_items" %>
    <%= render :partial => "new_users" %>
  </div>
  <div class="col-md-3">
    <%= render :partial => "announcements" %>
    <%= render :partial => 'stats' %>
  </div>
</div>
