<div class="annotation">
  <div class="header">
    <p>
      <div style="float: right">
      <%= link_to("<img src='/images/grey_cross.png' />",
          pack_annotation_path(pack, annotation[:annotation].uuid),
          :method => :delete,
          :confirm => "Are you sure you want to delete this annotation?") %>
      </div>
      <span class="type"><%= link_to(h(annotation[:template]["label"].capitalize), pack_annotation_path(pack, annotation[:annotation].uuid)) -%></span>
    </p>
  </div>
  <% if annotation[:template] %>
    <table>
      <% annotation[:template]["parameters"].each do |parameter| %>

        <% label = parameter["label"] %>
        <% value = annotation[:parameters][parameter["symbol"]].to_s %>

        <% if parameter["type"] == "select" %>
          <% value_match = parameter["options"].find { |option| value == option[1] } %>
          <% value = value_match[0] if value_match %>
        <% end %>

        <% unless value.empty? %>
          <tr>
            <td class="label"><%=h label -%></td>
            <td class="value">
            <% if parameter["type"] == "resource" %>
              <%= resource_link(pack.find_resource_by_path(value)) -%>
            <% else %>
              <%=h value -%>
            <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>

  <div class="provenance">
    Created by
    <span class="contributor"><%= user_link(annotation[:annotation].creator_uri) -%></span>
    on
    <span class="date"><%= datetime(annotation[:annotation].created_at, false) -%></span>
  </div>
</div>

