<h1>Item: <%= @title -%></h1>

<h2>Metadata</h2>

<table class="metadata">
  <tr>
    <td>Title</td>
    <td>
      <%=h @title -%>
      [<%= link_to('Add title', new_pack_annotation_path(@pack, { :template => 'title', :resource => @item.ore_path })) -%>]
    </td>
  </tr>
  <tr>
    <td>File name</td>
    <td><%=h @item.folder_entry.entry_name -%></td>
  </tr>
  <tr>
    <td>File size</td>
    <td><%=h @item.size.to_s -%></td>
  </tr>
  <tr>
    <td>SHA1</td>
    <td class="sha1"><%=h @item.sha1 -%></td>
  </tr>
  <tr>
    <td>Content type</td>
    <td class="content_type"><%=h @item.content_type -%></td>
  </tr>
</table>

<% if @description %>
  <h2>Description</h2>
  <p><%=h simple_format(@description) -%></p>
<% end %>

<% unless @input_files_for_this_workflow.empty? %>
  <h2>Input files</h2>
  <ul>
    <% @input_files_for_this_workflow.each do |input| %>
      <li><%= link_to(h(input.to_s), input.to_s) -%></li>
    <% end %>
  </ul>
<% end %>

<% unless @requires_hardware.empty? %>
  <h2>Hardware requirements</h2>
  <ul>
    <% @requires_hardware.each do |hardware| %>
      <li><%=h hardware -%></li>
    <% end %>
  </ul>
<% end %>

<% unless @requires_software.empty? %>
  <h2>Software requirements</h2>
  <ul>
    <% @requires_software.each do |software| %>
      <% desc = @statements.query([software, RDF::DC.description, nil]).first_literal %>
      <% link = @statements.query([software, RDF::RDFS.seeAlso, nil]).first_literal %>

      <% if link %>
        <li><%= link_to(h(desc), link.to_s, :rel => "nofollow") -%></li>
      <% else %>
        <li><%=h desc -%></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if Authorization.check('edit', @pack, current_user) %>
  <h2>Actions</h2>

  <ul>
    <li>[<%= link_to('Add description', new_pack_annotation_path(@pack, { :template => 'description', :resource => @item.ore_path })) -%>]</li>
    <li>[<%= link_to("Select an input file", new_pack_annotation_path(@pack, { :template => 'input_selection_relationship', :workflow => @item.ore_path })) -%>]</li>
    <li>[<%= link_to("Add new hardware requirement", new_pack_annotation_path(@pack, { :template => 'requires_hardware', :resource => @item.ore_path })) -%>]</li>
    <li>[<%= link_to("Add new software requirement", new_pack_annotation_path(@pack, { :template => 'requires_software', :resource => @item.ore_path })) -%>]</li>
  </ul>
<% end %>

<h2>Debug</h2>

<div id="tabsContainer" class="tabsContainer"></div>
  
<div class="tabContainer">
  <div class="tabTitle">User level annotations</div>
  <div class="tabContent">
    <% @visible_annotations.each do |annotation| %>
      <%= render(:partial => "annotation", :locals => { :pack => @pack, :annotation => annotation } ) -%>
    <% end %>
  </div>
</div>

<div class="tabContainer">
  <div class="tabTitle">Annotation graphs</div>
  <div class="tabContent">
    <% @annotations.each do |annotation| %>

      <h2><%=h annotation[:template].inspect -%></h2>
      <p><%=h annotation[:annotation].uri.to_s -%></p>

      <% annotation[:graph].each do |statement| %>
        <div style="margin: 8px; box-shadow: 4px 4px 8px #ddd;">
          <table class="simple" style="width: 100%">
            <tr><td><%=h statement.subject -%></td></tr>
            <tr><td><%=h statement.predicate -%></td></tr>
            <tr><td><%=h statement.object -%></td></tr>
          </table>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="tabContainer">
  <div class="tabTitle">Resource metadata</div>
  <div class="tabContent">
    <pre><%=h @item.to_yaml -%></pre>
  </div>
</div>
