<% ore_path = resource.ore_path %>
<% association = find_association(resource) %>
<tr>
  <td><%= resource_link(resource) -%></td>
  <% if resource.is_folder || resource.is_proxy %>
    <td></td>
  <% else %>
    <td><%=h resource.size -%></td>
  <% end %>
  <td><%=h association["label"] -%></td>
  <td><%=h resource.annotations.count -%></td>
  <td>
    <% if !resource.is_folder && Authorization.check('destroy', resource, current_user) %>
      <%= link_to("<img src='/images/grey_cross.png' />",
          "#{polymorphic_path([context, :items])}/#{ore_path}",
          :method => :delete,
          :confirm => "Are you sure you want to delete this item?") %>
    <% end %>
  </td>
</tr>
