<h1>Process Run: <%=h item_label(@view_uri, @statements) -%></h1>

<%= render(:partial => "parent_workflow_run", :locals => { :item => @item, :view_uri => @view_uri, :statements => @statements }) -%>

<%= render(:partial => "inputs", :locals => { :item => @item, :view_uri => @view_uri, :statements => @statements }) -%>

<%= render(:partial => "outputs", :locals => { :item => @item, :view_uri => @view_uri, :statements => @statements }) -%>

<%= render(:partial => "debug", :locals => { :item => @item, :view_uri => @view_uri, :statements => @statements }) -%>
