<h1>Item: <%= @title -%></h1>

<div id="tabsContainer" class="tabsContainer"></div>

<div class="tabContainer">
  <div class="tabTitle">Overview</div>
  <div class="tabContent">
    <a name="overview"></a>

    <h2>Metadata</h2>

    <table class="metadata">
      <tr>
        <td>Title</td>
        <td><%=h @title -%></td>
      </tr>
      <% if @item.is_proxy %>
        <tr>
          <td>External link</td>
          <td>
            <%= link_to(h(@item.proxy_for_path), @item.proxy_for_path) -%>
            <%= image_tag('link-md.png', :width => '10px') -%>
            </td>
        </tr>
      <% end %>
      <tr>
        <td>Aggregator</td>
        <td><%= user_link(@item.creator_uri) -%></td>
      </tr>
      <tr>
        <td>URI</td>
        <td><%= link_to(h(@item.uri.to_s), @item.uri.to_s, :rel => "nofollow") -%></td>
      </tr>
      <tr>
        <td>File name</td>
        <td><%=h @item.folder_entry.entry_name -%></td>
      </tr>
      <tr>
        <td>Aggregated at</td>
        <td><%= datetime(@item.created_at) -%></td>
      </tr>
      <tr>
        <td>File size</td>
        <td><%=h @item.size.to_s -%></td>
      </tr>
      <tr>
        <td>SHA1</td>
        <td class="sha1"><%=h @item.sha1 -%></td>
      </tr>
      <tr>
        <td>Content type</td>
        <td class="content_type"><%=h @item.content_type -%></td>
      </tr>
    </table>

    <% if @description %>
      <h2>Description</h2>
      <p><%=h simple_format(@description) -%></p>
    <% end %>

    <% unless @roles_in_time.empty? %>
      <h2>Roles</h2>
      <table class="simple">
        <% @roles_in_time.each do |role_in_time| %>
          <% person = @statements.query([nil, RDF::URI("http://purl.org/spar/pro/holdsRoleInTime"), role_in_time]).first_subject %>
          <% name   = @statements.query([person, RDF::FOAF.name, nil]).first_literal %>
          <% orcid  = @statements.query([person, RDF::URI("http://purl.org/spar/scoro/hasORCID"), nil]).first_literal %>
          <% role   = @statements.query([role_in_time, RDF::URI("http://purl.org/spar/pro/withRole"), nil]).first_object %>
          <tr>
            <td><%=h name -%></td>
            <td>
              <% if orcid %>
                (OrcID <%=h orcid -%>)
              <% end %>
            </td>
            <td><%=h role -%></td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <% unless @input_files_for_this_workflow.empty? %>
      <h2>Input files</h2>
      <ul>
        <% @input_files_for_this_workflow.each do |input| %>
          <li><%= resource_link(@context.find_resource_by_path(input)) -%></li>
        <% end %>
      </ul>
    <% end %>

    <% unless @requires_hardware.empty? %>
      <h2>Hardware requirements</h2>
      <ul>
        <% @requires_hardware.each do |hardware| %>
          <% desc = @statements.query([hardware, RDF::DC.description, nil]).first_literal %>
          <% link = @statements.query([hardware, RDF::RDFS.seeAlso, nil]).first_literal %>

          <% if link %>
            <li><%= link_to(h(desc), link.to_s, :rel => "nofollow") -%></li>
          <% else %>
            <li><%=h desc -%></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <% unless @requires_software.empty? %>
      <h2>Software requirements</h2>
      <ul>
        <% @requires_software.each do |software| %>
          <% desc = @statements.query([software, RDF::DC.description, nil]).first_literal %>
          <% link = @statements.query([software, RDF::RDFS.seeAlso, nil]).first_literal %>

          <% if link %>
            <li><%= link_to(h(desc), link.to_s, :rel => "nofollow") -%></li>
          <% else %>
            <li><%=h desc -%></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <% unless @workflow_runs.empty? %>
      <h2>Workflow runs</h2>
      <ul>
        <% @workflow_runs.each do |workflow_run| %>
          <% start_time = @statements.query([workflow_run, RDF::URI("http://www.w3.org/ns/prov#startedAtTime"), nil]).first_object %>
          <% end_time   = @statements.query([workflow_run, RDF::URI("http://www.w3.org/ns/prov#endedAtTime"), nil]).first_object %>

          <h3><%= item_link(@item, workflow_run, @statements) -%></h3>

          <ul>
            <% if start_time && end_time %>
              <li>Time elapsed: <%= sprintf("%.2f", (DateTime.parse(end_time.to_s).to_time - DateTime.parse(start_time.to_s).to_time).to_f * 100000) -%> seconds.</li>
            <% end %>
          </ul>

          <% inputs = @statements.query([workflow_run, RDF::URI("http://purl.org/wf4ever/wfprov#usedInput"), nil]).objects %>

          <% if inputs.count > 0 %>
            <h4>Inputs</h4>
            <table class="simple">
              <tr>
                <th>Label</th>
                <th>SHA1</th>
                <th>Zip entry</th>
              </tr>
            <% inputs.each do |input| %>
              <% local_path = @statements.query([input, RDF::URI("http://ns.taverna.org.uk/2012/tavernaprov/content"), nil]).first_object %>
              <% sha1 = @statements.query([local_path, RDF::URI("http://ns.taverna.org.uk/2012/tavernaprov/sha1"), nil]).first_literal %>
              <% b1 = @statements.query([nil, RDF::URI("http://www.w3.org/ns/prov#entity"), input]).first_subject %>
              <% role = @statements.query([b1, RDF::URI("http://www.w3.org/ns/prov#hadRole"), nil]).first_object %>
              <% label = @statements.query([role, RDF::RDFS.label, nil]).first_literal %>
                <tr>
                  <td><%=h label -%></td>
                  <td><%=h sha1 -%></td>
                  <td><%=h local_path -%></td>
                </tr>
            <% end %>
            </table>
          <% end %>
          
          <% outputs = @statements.query([nil, RDF::URI("http://purl.org/wf4ever/wfprov#wasOutputFrom"), workflow_run]).subjects %>

          <% if outputs.count > 0 %>
            <h4>Outputs</h4>
            <table class="simple">
              <tr>
                <th>Label</th>
                <th>SHA1</th>
                <th>Zip entry</th>
                <th>Size</th>
              </tr>
              <% outputs.each do |output| %>
                <% zip_entry = @statements.query([output, RDF::URI("http://ns.taverna.org.uk/2012/tavernaprov/content"), nil]).first_object %>
                <% param = @statements.query([output, RDF::URI("http://purl.org/wf4ever/wfprov#describedByParameter"), nil]).first_object %>
                <% label = @statements.query([param, RDF::RDFS.label, nil]).first_literal %>
                <% sha1 = @statements.query([zip_entry, RDF::URI("http://ns.taverna.org.uk/2012/tavernaprov/sha1"), nil]).first_literal %>
                <% size = @statements.query([zip_entry, RDF::URI("http://ns.taverna.org.uk/2012/tavernaprov/byteCount"), nil]).first_literal %>
                <tr>
                  <td><%=h label -%></td>
                  <td><%=h sha1 -%></td>
                  <td><%=h zip_entry -%></td>
                  <td><%=h size -%></td>
                </tr>
              <% end %>
            </table>
          <% end %>

        <% end %>
      </ul>
    <% end %>

    <% if Authorization.check('edit', @context, current_user) %>
      <h2>Actions</h2>

      <ul>
        <li><%= link_to('Add title', polymorphic_path([:new, @context, :annotation], { :template => 'title', :resource => @item.ore_path })) -%></li>
        <li><%= link_to('Add resource type', polymorphic_path([:new, @context, :annotation], { :template => 'resource_type', :resource => @item.ore_path })) -%></li>
        <li><%= link_to('Add description', polymorphic_path([:new, @context, :annotation], { :template => 'description', :resource => @item.ore_path })) -%></li>
        <li><%= link_to('Add role', polymorphic_path([:new, @context, :annotation], { :template => 'role', :resource => @item.ore_path })) -%></li>
        <li><%= link_to("Select an input file", polymorphic_path([:new, @context, :annotation], { :template => 'input_selection_relationship', :workflow => @item.ore_path })) -%></li>
        <li><%= link_to("Add new hardware requirement", polymorphic_path([:new, @context, :annotation], { :template => 'requires_hardware', :resource => @item.ore_path })) -%></li>
        <li><%= link_to("Add new software requirement", polymorphic_path([:new, @context, :annotation], { :template => 'requires_software', :resource => @item.ore_path })) -%></li>
        <li><%= link_to("Add new workflow run type", polymorphic_path([:new, @context, :annotation], { :template => 'workflow_run_type' })) -%></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="tabContainer">
  <div class="tabTitle">Annotations</div>
  <div class="tabContent">
    <a name="annotations"></a>
    <% @visible_annotations.each do |annotation| %>
      <%= render(:partial => "annotations/annotation", :locals => { :context => @context, :annotation => annotation, :source => @item.ore_path } ) -%>
    <% end %>
  </div>
</div>

<% if false %>
<div class="tabContainer">
  <div class="tabTitle">Annotation graphs</div>
  <div class="tabContent">
    <% @annotations.each do |annotation| %>

      <h2><%=h annotation[:template].inspect -%></h2>
      <p><%=h annotation[:annotation].uri.to_s -%></p>

      <% annotation[:graph].each do |statement| %>
        <div style="margin: 8px; box-shadow: 4px 4px 8px #ddd;">
          <table class="simple" style="width: 100%">
            <tr><td><%=h statement.subject -%></td></tr>
            <tr><td><%=h statement.predicate -%></td></tr>
            <tr><td><%=h statement.object -%></td></tr>
          </table>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="tabContainer">
  <div class="tabTitle">Resource metadata</div>
  <div class="tabContent">
    <pre><%=h @item.to_yaml -%></pre>
  </div>
</div>

<% end %>
