<div class="contribution_section_box">
	<p class="heading">
		<%= info_icon_with_tooltip("These are the results from checklists that measure the progress of this pack") %>
		Progress
  </p>

  <% Conf.research_object_checklists.each do |slug, checklist| %>
    <% clr = context.research_object.checklists.find_by_slug(slug) %>
    <% if clr %>
      <% score_percent = 100 * clr.score / clr.max_score %>
      <div class="checklist">
        <div class="label">
          <%= link_to(h(checklist["label"]), polymorphic_path([context, clr])) -%>
        </div>
        <div class="bar">
          <div class="score" style="width: <%= score_percent -%>%">
          </div>
        </div>
      </div>
    <% end %>


  <% end %>

  <% if Authorization.check('view', context, current_user) %>
    <p>
      <% form_tag(update_checklist_pack_path(context), :method => :post) do -%>
        <%= select_tag("checklist", options_for_select(Conf.research_object_checklists.keys.map { |x| [Conf.research_object_checklists[x]["label"], x] } )) -%>
        <%= submit_tag("Run") -%>
      <% end %>
    </p>
  <% end %>

</div>
