<h1>Checklist result: <%=h @checklist.label -%></h1>

<% if @checklist.updated_at < @checklist.research_object.updated_at %>
  <div class="checklist-out-of-date-warning">
    This checklist is out of date and needs to be re-run.
  </div>
<% end %>

<table class="checklist simple">
  <% @checklist.checklist_items.each do |item| %>
    <tr>
      <td class="<%= item.colour -%>">
        <% case item.colour; when "red" %>
          <%= image_tag('famfamfam_silk/cross.png') -%>
        <% when "amber" %>
          <%= image_tag('amber_cross.png') -%>
        <% when "green" %>
          <%= image_tag('famfamfam_silk/tick.png') -%>
        <% end %>
      </td>
      <td><%=h item.text -%></td>
    </tr>
  <% end %>
</table>
