<div class="annotation">
  <div class="header">
    <p>
      <div style="float: right">
      <%= link_to("<img src='/images/grey_cross.png' />",
          polymorphic_path([context, :annotation], :id => annotation[:annotation].uuid, :source => source),
          :method => :delete,
          :confirm => "Are you sure you want to delete this annotation?") %>
      </div>
      <span class="type"><%= link_to(h(annotation[:template]["label"].capitalize), polymorphic_path([context, :annotation], :id => annotation[:annotation].uuid)) -%></span>
    </p>
  </div>
  <% if annotation[:template] %>
    <table>
      <% annotation[:template]["parameters"].each do |parameter| %>

        <% label = parameter["label"] %>
        <% value = annotation[:parameters][parameter["symbol"]].to_s %>

        <% if parameter["type"] == "select" %>
          <% if parameter["options"]
               options = parameter["options"]
             elsif parameter["special"] == "wfprov_workflow_run"
               options = wfprov_workflow_run(context.research_object)
             elsif parameter["special"] == "wfdesc_workflow"
               options = wfdesc_workflow(context.research_object)
             end
          %>
          <% value_match = options.find { |option| value == option[1] } %>
          <% value = value_match[0] if value_match %>
        <% end %>

        <% unless value.empty? %>
          <tr>
            <td class="label"><%=h label -%></td>
            <td class="value">
            <% if parameter["type"] == "resource" %>
              <% resource = context.find_resource_by_path(value) -%>
              <% if resource %>
                <%= resource_link(context.find_resource_by_path(value)) -%>
              <% elsif value.to_s == context.research_object.uri.to_s %>
                <%= resource_link(context) -%>
              <% else %>
                <%= link_to(h(value), value, :rel => 'nofollow') -%>
              <% end %>
            <% else %>
              <%=h value -%>
            <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>

  <div class="provenance">
    Created by
    <span class="contributor"><%= user_link(annotation[:annotation].creator_uri) -%></span>
    on
    <span class="date"><%= datetime(annotation[:annotation].created_at, false) -%></span>
  </div>
</div>

