<%= hidden_field_tag(:annotation_type, template) %>

<% if defined?(id) %>
  <%= hidden_field_tag(:annotation_id, id) %>
<% end %>

<% required_parameters = false %>

<table class="annotation">
  <tr>
    <td colspan="2">
      <span class="type"><%=h annotation_template["label"].capitalize -%></span>
    </td>
  </tr>
  <% annotation_template["parameters"].each do |parameter| %>
    <tr>
      <td><%= parameter["label"] -%></td>
      <% if values[parameter["symbol"]] %>
        <td>
          <% if parameter["type"] == "resource" %>
            <%= resource_link(@context.find_resource_by_ore_path(values[parameter["symbol"]])) -%>
          <% else %>
            <%=h values[parameter["symbol"]] -%>
          <% end %>
          <%= hidden_field_tag(parameter["symbol"], values[parameter["symbol"]]) -%>
        </td>
      <% else %>
        <td>
          <% case parameter["type"] ; when "string" %>
            <%= text_field_tag(parameter["symbol"], values[parameter["symbol"]], :placeholder => parameter["placeholder"]) -%>
          <% when "select" %>
            <%= select_tag(parameter["symbol"], options_for_select(parameter["options"])) -%>
          <% when "textarea" %>
            <%= text_area_tag(parameter["symbol"], values[parameter["symbol"]]) -%>
          <% when "resource" %>
            <%= select_tag(parameter["symbol"], options_for_select(research_object.ore_resources.map { |r| [r[:proxy_target] ? r[:proxy_target] : r[:name], r[:ore_path]] })) -%>
          <% end %>
        </td>
        <% unless parameter["optional"] == true %>
          <td>
            <span class="required-parameter">*</span>
            <% required_parameters = true %>
          </td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  <% if required_parameters %>
  <tr>
    <td>
      <% if defined?(add_button) && add_button == true %>
        <%= submit_tag("Add") -%>
      <% end %>
    </td>
    <td colspan="2"><div class="required-parameter">* Required</div></td>
  </tr>
  <% end %>
</table>
