<% @logo_link_url  = "http://biovel.eu/" # The URL that the logo links to when clicked
   @logo_image_url = "/images/biovel_logo_white_background.png" # The logo image

   biovel_id = controller.layout['network_id']

   biovel_tabs = [
       {'controller' => 'networks', 'label' => 'BioVeL', 'link' => network_path(biovel_id)},
       {'controller' => 'workflows', 'label' => 'Workflows', 'link' => network_workflows_path(biovel_id)},
       {'controller' => 'blobs', 'label' => 'Files', 'link' => network_blobs_path(biovel_id)},
       {'controller' => 'packs', 'label' => 'Packs', 'link' => network_packs_path(biovel_id)}
   ]

%>

<% content_for :site_info_links do %>
    <%= link_to "/home" do -%>
        Back to <%= image_tag("/images/logo_tiny.png", :style=>"vertical-align: bottom") -%>
    <% end %>
    <span class="divider">|</span>
    <%= link_to 'About BioVeL', 'http://www.biovel.eu/about-biovel', :target => :blank %>
    <span class="divider">|</span>
    <%= link_to 'BioVeL Portal', 'http://portal.biovel.eu', :target => :blank %>
    <span class="divider">|</span>
    <%= link_to 'Biodiversity Catalogue', 'https://www.biodiversitycatalogue.org/', :target => :blank %>
<% end %>

<% content_for :logo do %>
  <%= link_to image_tag(@logo_image_url, :size => '38x50'), @logo_link_url, :style => "float: left" -%>
<% end %>

<% content_for :tabs do %>
  <ul class="nav navbar-nav">
    <% biovel_tabs.each do |tab| %>
      <li <%= (tab['controller'] && controller.controller_name.match(tab['controller'])) ? 'id="selected_tabnav"' : '' %>>
        <%= link_to(tab['label'], tab['link']) -%>
      </li>
    <% end %>
  </ul>
<% end %>

<% if Rails.env == "production" %>
  <% content_for :analytics do %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36850736-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <% end %>
<% end %>

<%= render :partial => "layouts/myexperiment" %>
