<%# Defines a new header, then calls main myExperiment layout %>

<% content_for :logo do %>
    <%= link_to image_tag("/images/elico_logo_white.png", :height => 50), "http://www.e-lico.eu/?q=node/4", :title => "e-LICO Data Mining Portal" %>
<% end %>

<% content_for :site_info_links do %>
    <%= link_to "About e-LICO", "http://www.e-lico.eu/?q=node/4", :target => '_blank' %>
    <span class="divider">|</span>
    <%= link_to "Mailing List", "http://lists.e-lico.eu/mailman/listinfo/dm-myexperiment", :target => '_blank' %>
    <span class="divider">|</span>
    <%= link_to "Publications", "http://www.e-lico.eu/?q=publications", :target => '_blank' %>
<% end %>

<%= render :partial => "layouts/myexperiment" %>
