<div class="container">
  <div class="row">
    <div class="col-md-4 text-left">
      Funded by:
      <%= link_to "BioVeL", "http://biovel.eu" %>,
      <%= link_to "EPSRC", "http://www.epsrc.ac.uk/" %>,
      <%= link_to "JISC", "http://jisc.ac.uk/" %>,
      <%= link_to "Microsoft", "http://www.microsoft.com" %>

      <br/><br/>

      Affiliates:
      <%= link_to "myGrid", "http://www.mygrid.org.uk" %>,
      <%= link_to "Taverna", "http://www.taverna.org.uk/" %>,
      <%= link_to "BioCatalogue", "http://www.biocatalogue.org" %>
    </div>

    <div class="col-md-4 text-center">
      <%= link_to "About", "/about" %> |
      <%= link_to "Publications", "http://wiki.myexperiment.org/index.php/Papers" %> |
      <%= link_to "Contact / Feedback", "/feedback" %> |
      <%= link_to "Mailing List", "http://lists.nongnu.org/mailman/listinfo/myexperiment-discuss" %>
    </div>

    <div class="col-md-4 text-right">
      Icons: <%= link_to "Silk icon set 1.3", "http://www.famfamfam.com/lab/icons/silk/" %><br/><br/>
      Commit: <%= link_to MyExperiment::Version.commit[0..9], "https://github.com/myExperiment/myExperiment/tree/#{MyExperiment::Version.commit}" %> <div id="commit-hash-colour" style="background-color: <%= "##{$commit[0..5]}" -%>"></div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      Copyright &#169; 2007 &ndash; 2015
      <%= link_to "The University of Manchester", "http://www.manchester.ac.uk/" %>
      and
      <%= link_to "University of Southampton", "http://www.soton.ac.uk/" %>
    </div>
  </div>
</div>
