<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% unless Conf.google_site_verification.nil? %>
  <meta name="google-site-verification" content="<%= Conf.google_site_verification -%>" />
  <% end %>
  <%= t :site => "#{Conf.sitename} &#45; #{controller_visible_name(controller.controller_name.humanize)}", :separator => "&#45;" %>
  <% if @lod_rdf %><link rel="alternate" href="<%= @lod_rdf -%>" type="application/rdf+xml" title="RDF+XML" /><% end %>
  <% if @lod_xml %><link rel="alternate" href="<%= @lod_xml -%>" type="application/xml" title="REST XML" /><% end %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <%= stylesheet_link_tag 'acts_as_taggable_stylesheet',
                          'star_rating', 'gadgets', 'misc_skinning', 'pagination', 'bootstrap', 'bootstrap_overrides', *@layout["stylesheets"] %>
  <%= javascript_include_tag "jquery-1.11.1.js", "boxover.js", "tabs.js", "folds.js", "bootstrap.js" %>

  <% if controller.action_name.downcase == "timeline" %>
    <script src="http://simile.mit.edu/timeline/api/timeline-api.js" type="text/javascript"></script>
  <% end -%>

  <%= render :partial => "layouts/feed_link_tags" %>

  <%= yield :head_options -%>
</head>
<body>

<%= render :partial => "layouts/integrations/#{session[:came_from]}" unless session[:came_from].blank? %>

<div class="navbar navbar-myexp navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="logo" href="#">
        <% if @content_for_logo %>
          <%= yield :logo %>
        <% else %>
          <%= image_tag(Conf.site_logo) %>
        <% end %>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if @content_for_tabs %>
          <%= yield :tabs %>
        <% else %>
          <%= render :partial => 'layouts/tab_bar' %>
        <% end %>
        <%= render :partial => "layouts/search" %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? -%>
            <%= render :partial => "gadgets/new_object" %>
        <% end %>
        <%= render :partial => 'layouts/user_links' %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>



<% if @content_for_body %>
    <%= yield :body %>
<% else %>
    <div class="container">
      <div id="myexp_breadcrumbs_bar">
        <%= render :partial => "layouts/breadcrumbs_bar" %>
      </div>
      <div id="myexp_content">
        <%= render :partial => 'layouts/alerts' %>

        <%= yield :layout %>
      </div>
    </div>
<% end %>


<% if @content_for_footer %>
    <%= yield :footer %>
<% else %>
    <% cache(:controller => 'global_cache', :action => 'footer') do -%>
        <div id="ft">
          <%= render :partial => "layouts/footer" %>
        </div>
    <% end -%>
<% end %>


<%= render :partial => "layouts/debug" if Conf.show_debug %>
<%= render :partial => "layouts/web_analytics" if Conf.google_web_analytics["enable"] %>

<% if @content_for_analytics %>
  <%= yield :analytics %>
<% end %>

</body>
</html>
